body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding:0;
    background-image: url('../imagenes/kakashi1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
body h2{
    
    color: #f1f2f3;
    position: absolute;
    top: 25%;
    left: 44%;
  

}
.form-centrado {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px; /* Ancho del formulario */
    text-align: center; /* Centra el texto dentro del formulario */
}

.form-centrado label {
    display: block;
    margin: 10px 0 5px;
}
.form-centrado input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
body p{
    
    color:red;
    position: absolute;
    top: 75%;
    left: 43%;
  

}


